* {
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: 75px;
  background-color: #222;
  display: flex;
  justify-content: center;
}
.header_search {
  padding-bottom: 18px;
  padding-top: 18px;
  margin-right: 50%;
  display: flex;
  justify-content: flex-start;
}
.header_logo {
  padding-right: 50%;
}

.header_menu {
  display: flex;
  justify-content: space-between;
  padding-bottom: 21px;
  padding-top: 22px;
  height: 30px;
  width: 300px;
}

.menu {
  position: relative;
  display: inline-block;
}

.hidden_menu {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.menu:hover .hidden_menu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 634px;
  width: 232px;
}

.menu_class_text {
  margin-right: 32px;
  text-decoration: none;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.menu_text {
  text-decoration: none;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.main_welcome {
  display: grid;
  grid-template-columns: 50% 50%;
  background-color: #f1e4e6;
}

.main_welcome_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: auto;
}

.welcome_rectangle {
  margin-left: auto;
}

.main_welcome_text_text {
  margin-left: 15px;
  text-align: left;
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: 70%;
  width: 377px;
}

.welcome_p_small {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.welcome_p_pink {
  color: #f16d7f;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

body {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

.main_top_blocks {
  max-width: 1140px;
  margin-top: 65px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.women_block {
  position: relative;
  text-align: center;
  color: rgb(18, 15, 15);
}

.men_block {
  position: relative;
  text-align: center;
  color: rgb(18, 15, 15);
}

.kids_block {
  position: relative;
  text-align: center;
  color: rgb(18, 15, 15);
}

.block_text {
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.block_text_pink {
  color: #f16d7f;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.top_block_women {
  filter: brightness(60%);
}

.top_block_men {
  filter: brightness(60%);
}

.top_block_kids {
  filter: brightness(60%);
}

.top_block_acc {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.main_text_h {
  margin-top: 96px;
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.main_text_p {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-bottom: 48px;
}

.main_bottom_blocks {
  max-width: 1140px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-template-rows: 50% 50%;
  margin-left: auto;
  margin-right: auto;
}

.main_bottom_block {
  background-color: #f8f8f8;
  max-width: 360px;
  margin-bottom: 25px;
}

.main_bottom_block_text {
  max-width: 360px;
  margin: 24px 16px;
}

.block_header {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.block_p {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #5d5d5d;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.block_price {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_text {
  color: #f26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 15px;
}

.button {
  text-align: center;
  border: 1px solid #ff6a6a;
  width: 212px;
  height: 48px;
}

.button:hover {
  background-color: #f16d7f;
}

.button:hover .footer_text {
  color: #fff;
}
.footer {
  display: flex;
  justify-content: center;
  margin-bottom: 60px;
  margin-top: 32px;
}

.black_footer {
  display: flex;
  justify-content: center;
  height: 340px;
  background-color: #222224;
}

.black_footer_block {
  justify-items: center;
  width: 360px;
  margin-top: 100px;
  margin-bottom: 100px;
}

.black_footer_icon {
  text-align: center;
}

.black_footer_h {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 19.96px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 28px;
  margin-bottom: 16px;
}

.black_footer_text {
  color: #fbfbfb;
  text-align: center;
  font-family: Lato;
  font-size: 13.972px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.footer_with_background {
  height: 450px;
  background: url(./img/footer_background.svg),
    lightgray 0px -169px / 100% 246.875% no-repeat;
}

.footer_background {
  position: relative;
  height: 450px;
  background-color: rgba(244, 244, 244, 0.7);
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer_wbg_face {
  text-align: center;
  margin-top: 97px;
  margin-bottom: 30px;
}

.footer_wbg_text {
  width: 360px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 126px;
}

.footer_wbg_text_cursive {
  color: #222224;
  font-family: Lato;
  font-size: 20px;
  font-style: italic;
  font-weight: 400;
  line-height: normal;
}

.footer_wbg_subscribe {
  margin-top: 140px;
  color: #222224;
  text-align: center;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 167.2%;
}

.footer_wbg_subscribe_text {
  margin-top: 7px;
  color: #222224;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 167.2%;
  text-align: center;
  margin-bottom: 32px;
}

.subscribe_buttons {
  display: grid;
  grid-template-columns: 60% 40%;
}
.subscribe_button_left {
  margin-left: auto;
  position: relative;
  text-align: center;
}
.subscribe_button_left_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-110%, -60%);
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  opacity: 0.671;
}

.subscribe_button_right {
  margin-right: auto;
  position: relative;
  text-align: center;
}
.subscribe_button_right_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-60%, -60%);
  color: #fff;
  text-align: center;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.footer_footer {
  height: 80px;
  background-color: #222224;
  display: grid;
  grid-template-columns: 50% 50%;
}

.footer_footer_text {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  margin-top: 30px;
}

.footer_footer_icons {
  margin-left: auto;
  margin-right: auto;
  margin-top: 24px;
  width: 150px;
  display: flex;
  justify-content: space-between;
}

.footer_footer_icon {
  height: 32px;
  width: 32px;
  background-color: #fff;
  text-align: center;
}

.footer_footer_logo {
  margin-top: 8px;
}

.footer_footer_icon:hover {
  background-color: #f16d7f;
}

.footer_footer_icon:hover .footer_footer_logo path {
  fill: #fff;
}

@media (max-width: 1024px) {
  .header_menu {
    width: 200px;
  }
  .header_search {
    margin-right: 60%;
  }
  .main_image {
    width: 50vw;
  }

  .main_welcome_text_text {
    margin-left: 5px;
    font-size: 44px;
  }

  .welcome_p_small {
    font-size: 24px;
  }

  .welcome_p_pink {
    font-size: 24px;
  }

  .main_top_blocks {
    max-width: 100vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .top_block_women {
    width: 30vw;
  }

  .top_block_men {
    width: 30vw;
  }

  .top_block_kids {
    width: 30vw;
  }

  .top_block_acc_photo {
    width: 96vw;
    margin-left: 2vw;
    margin-right: 2vw;
  }

  .main_text_h {
    margin-top: 60px;
  }

  .main_bottom_blocks {
    width: 100vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 33% 33% 33%;
  }

  .main_bottom_block {
    margin-left: auto;
    margin-right: auto;
  }

  .black_footer {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 600px;
  }

  .black_footer_block {
    justify-items: center;
    width: 360px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .footer_with_background {
    height: 614px;
    background-size: 285%;
  }

  .footer_background {
    position: relative;
    height: 614px;
    grid-template-columns: 100%;
    grid-template-rows: 307px 307px;
  }

  .footer_wbg_face {
    margin-top: 64px;
  }

  .footer_wbg_subscribe {
    margin-top: 48px;
  }
}

@media (max-width: 767px) {
  .body {
    width: 100%;
  }
  .header {
    width: 100%;
  }
  .header_search {
    width: 80px;
    padding-bottom: 18px;
    padding-top: 18px;
    margin-right: 50%;
    display: flex;
    justify-content: flex-start;
  }

  .header_loupe {
    margin-top: auto;
    margin-bottom: auto;
    width: 26px;
    height: 26px;
  }
  .header_logo {
    margin-left: 30px;
    padding-right: 50%;
    width: 44px;
    height: 38px;
  }

  .header_menu {
    justify-content: flex-end;
    width: 150px;
    margin-right: 30px;
  }

  .menu_1 {
    width: 32px;
    height: 23px;
    margin-top: auto;
    margin-bottom: auto;
  }

  .menu_2 {
    width: 0px;
    height: 0px;
  }

  .menu_3 {
    width: 0px;
    height: 0px;
  }

  .main_image {
    width: 0px;
    height: 0px;
  }

  .main_welcome {
    display: grid;
    grid-template-columns: 10% 90%;
    background-color: #f1e4e6;
    width: 100%;
    height: 360px;
  }

  .main_welcome_text {
    margin-right: auto;
    margin-left: auto;
  }
  .welcome_rectangle {
    width: 12px;
    height: 61px;
  }

  .main_welcome_text_text {
    height: 60px;
  }

  .main_welcome_p {
    font-size: 38px;
  }

  .main_welcome_p_small {
    font-size: 20px;
  }

  .welcome_p_pink {
    font-size: 25px;
  }

  .main_top_blocks {
    width: 90%;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .top_block_women {
    margin-bottom: 32px;
    width: 400px;
  }
  .top_block_men {
    margin-bottom: 32px;
    width: 400px;
  }
  .top_block_kids {
    margin-bottom: 32px;
    width: 400px;
  }
  .top_block_acc {
    margin-top: 0px;
  }
  .top_block_acc_photo {
    width: 1140px;
    margin-bottom: 32px;
    clip-path: inset(0px 370px 0px 370px);
  }

  .main_bottom_blocks {
    width: 100vw;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 620px 620px 620px 620px 620px 620px;
  }

  .footer_with_background {
    height: 614px;
    background-size: 450%;
  }

  .footer_background {
    position: relative;
    height: 614px;
    grid-template-columns: 100%;
    grid-template-rows: 307px 307px;
  }

  .subscribe_buttons {
    grid-template-columns: 65% 35%;
  }

  .footer_wbg_face {
    margin-top: 64px;
  }

  .footer_wbg_subscribe {
    margin-top: 48px;
  }

  .footer_footer {
    height: 140px;
    display: flex;
    flex-direction: column-reverse;
  }

  .footer_footer_text {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .footer_footer_icons {
    margin-top: 20px;
  }
}
